RewriteEngine On

# ✔ ne pas toucher aux fichiers existants
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ✔ sinon router MVC
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
